.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.catalogText {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 593px;
    margin-bottom: 50px;
}

.catalogTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.catalogParagraph {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1216px;
}

@media (max-width: 768px) {
    .catalogText {
        max-width: 520px;
    }

    .catalogTitle {
        font-size: 24px;
    }

    .catalogParagraph {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .catalogText {
        max-width: 520px;
    }

    .catalogTitle {
        font-size: 20px;
    }

    .catalogParagraph {
        font-size: 14px;
        width: 319px;
    }
}