.card {
    max-width: 384px;
    max-height: 326px;
    margin: 10px;
}

.cardImage {
    width: 384px;
    height: 200px;
    background-color: #F3F7FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 225px;
    height: 135px;
}

.cardText {
    margin-top: 20px;
}

.cardTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cardDescription {
    font-size: 16px;
    font-weight: 500;
    color: #7CA2F4;
    margin-bottom: 20px;
}

.cardValue {
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .card {
        width: 336px;
        height: 326px;
    }

    .cardImage {
        width: 336px;
    }

    .cardTitle {
        font-size: 18px;
    }

    .cardDescription {
        font-size: 14px;
    }

    .cardValue {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .card {
        width: 319px;
        height: 326px;
    }

    .cardImage {
        width: 319px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .cardDescription {
        font-size: 16px;
    }

    .cardValue {
        font-size: 20px;
    }
}