* {
  margin: 0;
  font-family: Archivo;
}

html,
body {
  overflow-x: hidden;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.catalogText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 593px;
  margin-bottom: 50px;
}

.catalogTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.catalogParagraph {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 384px;
  max-height: 326px;
  margin: 10px;
}

.cardImage {
  width: 384px;
  height: 200px;
  background-color: #F3F7FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 225px;
  height: 135px;
}

.cardText {
  margin-top: 20px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 16px;
  font-weight: 500;
  color: #7CA2F4;
  margin-bottom: 20px;
}

.cardValue {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .top {
    height: 41px;
  }

  .topText {
    font-size: 16px;
    font-weight: 500;
  }

  .banner {
    background-image: linear-gradient(rgba(18, 18, 20, 0.75), rgba(rgba(18, 18, 20, 0.75))),
      url("./assets/banner.png");
    background-size: 100% 120%;
    background-position: top 0% left 100%;
    padding-left: 40px;
  }

  .logoImage {
    width: 24px;
    height: 24px;
  }

  .textLogo {
    font-size: 18px;
  }

  .bannerTitle {
    font-size: 24px;
  }

  .descriptionText {
    font-size: 18px;
  }

  .catalogText {
    max-width: 520px;
  }

  .catalogTitle {
    font-size: 24px;
  }

  .catalogParagraph {
    font-size: 16px;
  }

  .card {
    width: 336px;
    height: 326px;
  }

  .cardImage {
    width: 336px;
  }

  .cardTitle {
    font-size: 18px;
  }

  .cardDescription {
    font-size: 14px;
  }

  .cardValue {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .top {
    height: 39px;
  }

  .topText {
    font-size: 14px;
  }

  .banner {
    background-image: linear-gradient(rgba(18, 18, 20, 0.75), rgba(rgba(18, 18, 20, 0.75))),
      url("./assets/banner.png");
    background-size: 100% 135%;
    background-position: right 20%;
    padding-left: 20px;
  }

  .descriptionText {
    font-size: 16px;
    width: 328px;
  }

  .catalogText {
    max-width: 520px;
  }

  .catalogTitle {
    font-size: 20px;
  }

  .catalogParagraph {
    font-size: 14px;
    width: 319px;
  }

  .card {
    width: 319px;
    height: 326px;
  }

  .cardImage {
    width: 319px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .cardDescription {
    font-size: 16px;
  }

  .cardValue {
    font-size: 20px;
  }
}